	body {
		background-color: blanchedalmond;
		text-align: center;


	}

	h1 {
		text-align: center;


	}

	p {}

	img {
		width: 500px;
		align-self: center;


	}

	a {
		text-decoration: none;
		text-align: center;
		border: 1px solid white;
		padding: 29px;
		background-color: rgb(255, 233, 205);
		transition: background-color 0.24s;
		margin: 25px 300px;
		display: inline-block;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		list-style-type: none;
	}

	.imgindex {
		text-align: center;
	}