	body {
		background-image: url(https://images.creativefabrica.com/products/previews/2023/12/08/cXv7ZagZM/2ZGIsH5HmixYA8SvUrEMHc7HluB-desktop.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;


	}

	h1 {
		text-align: center;


	}

	p {}

	img {
		width: 500px;
		align-self: center;


	}

	a {
		text-decoration: none;
		text-align: center;
		border: 1px solid white;
		padding: 29px;
		background-color: rgb(218, 182, 136);
		transition: background-color 0.24s;
		margin: 25px 300px;
		display: inline-block;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		list-style-type: none;
	}

	.imgindex {
		text-align: center;
	}