	body {
		background-image: url(https://img.freepik.com/vetores-gratis/fundo-de-natureza-aquarela-pintado-a-mao_23-2148941599.jpg?t=st=1740097370~exp=1740100970~hmac=3bd6289dbb8c3c646f2e0baa22cb51ac143e3f29bee83bd10ed3b27dcbb2682e);
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;


	}
	
	h1{
		text-align: center;
		
		
	}

	p{
		
	}

	img{
		width: 500px;
		align-self: center;

		
	}
	
	a{
		font-size: 10;
		text-decoration: none;
		text-align: center;
		border: 1px solid white;
		padding: 10px;
	
		background-color: rgb(40, 197, 74);
		transition: background-color 0.24s;
		margin: 10px 300px;
		display: inline-block;
	}
	
	ul{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		list-style-type: none;
	}
	
	.imgindex{
		text-align: center;
	}